.container-status {
width: 80%;
height: 70vh;
}
.row{
    display: flex;
    background-color: lightgrey;
}
.row-img {
    width: 50%;
}
.description {
    width: 50%;
}

.img-banner{
    width: 120px;
    height: 220px;
}
