.logo-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 127px;
    transition: 0.3s ease;
}
.icons {
    display: flex;
}
.item {
    margin-left: 32px;
}



@media screen and (max-width: 767px) {
    .logo-icons {
        padding: 0 30px;
        margin-top: 20px;
    }
    .icons {
        margin: 0 16px 0 16px;
    }
    
    .item {
        margin-left: 16px;
    }
    .logo-img{
        width: 106px;
        height: 20px;
    }
    
}